@import "tailwindcss";

:root {
  --background: #FDFCFB;
  --foreground: #1A1A1A;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}

* {
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}
